---

---

<div class="toggle-switch">
  <label>
    <input type="checkbox" id="toggle-input">
    <span class="slider"></span>
  </label>
</div>

<script>

  const modeToggle = document.getElementById('toggle-input') as HTMLInputElement;
  const htmlTag = document.querySelector('html')!;
  const localStorageTheme = localStorage.getItem('theme') as string;
  const systemSettingDark = window.matchMedia('(prefers-color-scheme: dark)');

  function setTheme(theme:string) {
    htmlTag.setAttribute('data-theme', theme);
  }
  function setCheckbox(checked:boolean) {
    modeToggle.checked = checked;
  }
  function getTheme(): string {
    const theme: string = localStorageTheme || (systemSettingDark.matches ? 'dark' : 'light');
    const themeBoolean: boolean = (theme == 'dark');
    setCheckbox(themeBoolean);
    return theme;
  }

  modeToggle.addEventListener('click', () => {
    const theme = modeToggle.checked ? 'dark' : 'light';
    setTheme(theme);
    localStorage.setItem('theme',theme)
  });

  setTheme(getTheme());
  
</script>