---

---

<div class="toggle-switch">
  <label>
    <input type="checkbox" id="toggle-input">
    <span class="slider"></span>
  </label>
</div>

<script>

  const modeToggle = document.getElementById('toggle-input') as HTMLInputElement;
  const htmlTag = document.querySelector('html')!;
  const localStorageTheme = localStorage.getItem('theme') as string;
  const systemSettingDark = window.matchMedia('(prefers-color-scheme: dark)');

  interface SystemProfile {
    matches?: boolean
  }

  function setTheme(theme:string) {
    htmlTag.setAttribute('data-theme', theme);
  }

  function getLocalStorageTheme({localStorageTheme, systemSettingDark}: { localStorageTheme: string; systemSettingDark: SystemProfile }) {
    if (localStorageTheme !== null) {
      return localStorageTheme;
    }
    if (systemSettingDark.matches) {
      return 'dark';
    }
    return 'light';
  }

  modeToggle.addEventListener('click', (event) => {
    if (modeToggle.checked) {
      htmlTag.setAttribute('data-theme', 'dark');
      setTheme('dark')
    } else {
      setTheme('light')
    }
  });

  let currentThemeSetting = getLocalStorageTheme({ localStorageTheme, systemSettingDark });
  setTheme(currentThemeSetting);
  
  console.log('localStorageTheme:', localStorageTheme);
  console.log(currentThemeSetting);
  console.log('systemSettingDark:', systemSettingDark);

</script>