html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
  /* --main-bg-bk: #1c1c3e; */
  --page-scale: 1;
  --container-size: 440px;

  --container-margin-xs: clamp(0.5rem, calc(0.5rem + ((1vw - 0.48rem) * 2.5316)), 1rem);
  --container-margin-sm: clamp(1rem, calc(1rem + ((1vw - 0.48rem) * 2.5316)), 2.5rem);
  --container-margin-md: clamp(3rem, calc(3rem + ((1vw - 0.48rem) * 2.5316)), 4rem);
  --container-margin-lg: clamp(4rem, calc(4rem + ((1vw - 0.48rem) * 2.5316)), 5rem);
  --container-margin-xl: clamp(5rem, calc(5rem + ((1vw - 0.48rem) * 15.8228)), 11.25rem);

  --font-size-sm: clamp(12px,calc(4.25rem + ((1vw - 7.68px) * 12.5)), 14px);
  --font-size-md: clamp(18px,calc(4.25rem + ((1vw - 7.68px) * 12.5)), 24px);
  --font-size-xl: clamp(68px,calc(4.25rem + ((1vw - 7.68px) * 12.5)), 120px);
  
  /* 375 - 1200 */
  --font-size-first: clamp(3.6rem, calc(3.6rem + ((1vw - 0.24375rem) * 12.0494)), 9.7rem);
  --font-size-last: clamp(4.5rem, calc(4.5rem + ((1vw - 0.24375rem) * 14.8148)), 12rem);  
  --margin-left-last: clamp(1.2rem, calc(1.2rem + ((1vw - 0.24375rem) * 3.9506)), 3.2rem);
  --margin-top-last: clamp(1.3rem, calc(1.3rem + ((1vw - 0.23rem) * 4.4231)), 3.6rem);
  
  --card-width: 300px;
  --card-height: 300px;
  /* --card-height: 12rem;
  --card-width: 12rem; */
  --light: #d8dbe0;
  --dark: #28292c;
  --slider-scale: 3rem;
}
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}
@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

[data-theme="light"] {
  --main-bg-bk: #EEE5E9;
  --main-headings:#08415c;
  --main-copy: #073b54;
  --link-new: #0d7272;
  --link-visited: #6b818c;
  --main-accent: #0d7272;
  --first-name-gradient: -webkit-linear-gradient(var(--main-headings), var(--main-accent));
  --html-background: linear-gradient(to bottom, #ffffff, #eaeaea, #d6d6d6, #c2c2c2, #aeaeae);
  --gradient-headshot: var(--main-accent), var(--main-headings) 43%, var(--link-visited);

  /* uncomment for moving text */
  /* --margin-left-last: clamp(0.6rem, calc(0.6rem + ((1vw - 0.23rem) * 2.1154)), 1.7rem); */
  h1.name-heading {
    .last {
      color:  var(--main-accent);
      span {
        text-shadow: none;
      }
    }
  }
  .accordion,
  ul.link-list li {
    box-shadow: rgba(195, 198, 209, 1) 0px 4px 0px 0px;
    outline-color: rgb(156, 54, 181);
    border-radius: 0.75em;
    transition: all .25s ease-in-out;
    position: relative;
    &.accordion__active,
    &:hover {
      box-shadow: rgb(156, 54, 181) 0px 4px 0px 0px;
      cursor: pointer;
      border: none;
    }
  }
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
		//text-shadow: none;
    opacity: .99;
		
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
	}
}

[data-theme="dark"] {
  /* https://www.color-hex.com/color-palette/1025420 */
  --main-bg-bk: #0b0b18;
  --main-headings:#ff8132;
  --main-copy: #d1d1d8;
  --link-new: #32f0ff;
  --link-visited: #6b818c;
  --main-accent: #ff49db;

  --gradient-headshot: var(--link-new), var(--main-headings) 43%, var(--main-accent);
  --first-name-gradient: -webkit-linear-gradient(var(--main-headings), var(--main-accent));
  --html-background: linear-gradient(to right bottom, #0b0b18, #0b0b18, #0b0b18, #0b0b18, #0b0b18, #16172a, #211f3c, #2e274f, #543779, #8543a0, #bf4ac1, #ff49db);

  h1.name-heading {
    .last span {
      text-shadow: 0px 0px 12px rgba(0,0,0,1);
    }
  }
  /* .last span:nth-child(4) {
    animation: flicker 3s linear infinite;
  }
  .last span:nth-child(7) {
    animation: flicker 1s linear infinite;
  }
   */
  .accordion {
    border: 2px solid var(--main-accent);
    border-radius: .5rem;
  }
  .accordion, 
  ul.link-list li {
    backdrop-filter: blur(10px);
    background-color: rgba(11, 11, 24, 0.2);
    box-shadow: 0 .5rem 3rem var(--main-accent);
    position: relative;

    a::before,
    a::after,
    span::before,
    span::after {
      content: '';
      position: absolute;
      background: transparent;
      transition: 1s;
      -webkit-mix-blend-mode: hue;
    }
    a::before,
    a::after,
    span::before,
    span::after {
      width: 18px;
      height: 8px;
    }
    span::before,
    span::after {
      width: 8px;
      height: 18px;
    }
    span::after {
      top: -2px;
      right: -2px;
      border-top: 2px solid var(--link-new);
      border-right: 2px solid var(--link-new);
    }
    a::after {
      bottom: -2px;
      right: -2px;
      border-bottom: 2px solid var(--main-accent);
      border-right: 2px solid var(--main-accent);
    }
    a::before {
      top: -2px;
      left: -2px;
      border-top: 2px solid var(--link-new);
      border-left: 2px solid var(--link-new);
    }
    span::before {
      bottom: -2px;
      left: -2px;
      border-bottom: 2px solid var(--main-accent);
      border-left: 2px solid var(--main-accent);
    }
    a:hover::before,
    a:hover::after,
    a:hover span::before,
    a:hover span::after  {
      width: calc( 180px / 2);
      height: calc( 50px / 2);
    }  
  }
  
}
@font-face {
  font-family: 'ArchivoBlack';
  src: url('/fonts/ArchivoBlack-Regular/ArchivoBlack-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  background-color: var(--main-bg-bk);
  /* background-image: var(--html-background); */
  transition: background-color 0.5s ease;
}
.preload * { 
  transition: none !important;
  animation-duration: 0.001s !important; 
}
body {
  font-family: 'Courier New', Courier, monospace;
  min-width: 380px;
  padding-top: var(--container-margin-xl);
}

h1.name-heading {
  margin-top: var(--container-margin-md);
  margin-bottom: var(--container-margin-md);
  font-family: 'Archivo Black', sans-serif;
  line-height: normal;
  text-align: center;
  color: var(--main-headings);
  .first {
    font-size: var(--font-size-first);
    display: block;
    background: var(--first-name-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
  }
  .last {
    display: inline-block;
    color: var(--main-accent);
    font-size: 0;
    margin-top: calc(var(--margin-top-last)*-1);
    padding-left: var(--margin-left-last);
    span {
      /* transition: margin-left .3s ease; */
      font-size: var(--font-size-last);
      margin-left: calc(var(--margin-left-last)*-1);
      &:nth-child(4) {
        margin-left: calc(var(--margin-left-last)* -1.1);
      }
      &:nth-child(5) {
        margin-left: calc(var(--margin-left-last)* -1.1);
      }
    }
  }
}
main {
  margin: auto;
  padding: 1rem;
  max-width: var(--container-size);
  color: white;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 3rem;
  @media screen and (min-width: 768px) {
    margin: 0 auto;
  }
}
section {
  margin-bottom: 4rem;
}

.accordion,
ul.link-list {
  li {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  svg {
    fill: var(--link-visited);
    display: inline-block;
    width: 2rem;
    height: 2rem;
    transition: all 0.25s ease-out;
  }
}
/* ACCORDIAN */
.accordion {
	width: 100%;
	max-width: 500px;
	overflow: hidden;
	margin-top: 20px;
  /* border: 2px solid var(--main-accent);
  background-color: rgba(11, 11, 24, 0.2); */

	.accordion__title {
		position: relative;
    padding: 1rem 2rem;
    color: var(--link-new);
		cursor: pointer;
    display: flex;
    align-items: center;
	}

	.accordion__content {
		padding: 0 20px;
		max-height: 0;
		overflow: hidden;
		will-change: max-height;
		transition: all 0.25s ease-out;
		opacity: 0;
    p {
      color: var(--main-copy);
      font-size: 1rem;
      margin: 0;
    }    
	}
	h2 {
    margin-left: 1rem;
  }
	&.accordion__active {
    svg {
      rotate: 90deg;
    }
		.accordion__content {
			padding: 0 20px 20px;
			opacity: 1;
		}
	}
}

ul.link-list {
  li {
    a {
      text-decoration: none;
      padding: 1rem 2rem;
      display: flex;
      align-items: center;
      color: var(--link-new);
      border-radius: calc(0.5rem * 1);
      span {
        margin-left: 1rem ;
      }
      &:visited {
        color: var(--link-visited);
        fill: var(--link-visited);
      }
      &:hover {
        
      }
    }
  }
}
/* https://codepen.io/benblustey/pen/poXMNKN */
.heading {
  max-width: calc(40rem * var(--page-scale));
  margin-inline: auto;
  .headshot {
    background-image: url('../imgs/benjamin-steyaert.jpg');
    background-size: 100.6%;
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    margin: 0 auto;
    transition: color 1s;
    &:hover {
      color: rgb(88 199 250 / 100%);
    }
    &:hover:before,
    &:hover:after {
      opacity: 0.5;
    }
    &::before {
      content: "";
      width: 104%;
      height: 104%;
      background-image: linear-gradient(var(--rotate), var(--gradient-headshot));
        position: absolute;
        z-index: -1;
        top: -2%;
        left: -2%;
        animation: spin 2.5s linear infinite;
    }
    &::after {
      position: absolute;
      content: "";
      top: calc(var(--card-height) / 6);
      left: 0;
      right: 0;
      z-index: -1;
      height: 100%;
      width: 100%;
      margin: 0 auto;
      transform: scale(0.8);
      filter: blur(calc(var(--card-height) / 6));
      background-image: linear-gradient(var(--rotate), var(--gradient-headshot));
      opacity: 1;
      transition: opacity .5s;
      animation: spin 2.5s linear infinite;
    }
  }
}

.toggle-switch {
  position: absolute;
  width: var(--slider-scale);
  background-color: #FFF;
  top: var(--container-margin-sm);
  right: var(--container-margin-sm);
  /* top: 50%;
  right: 50%; */
  label {
    position: absolute;
    width: 100%;
    height: calc(var(--slider-scale)/2);
    /* background-color: var(--accent-gradient); */
    border-radius: calc(var(--slider-scale)/4);
    cursor: pointer;
    /* background-image: linear-gradient(to bottom, #0b0b18, #1b2536, #224057, #225d76, #1d7c93, #0f8bac, #009ac5, #00a8e0, #29a1fb, #7892ff, #c177fe, #ff49db); */
    background: linear-gradient(0deg, rgba(0,212,255,1) 16%, rgba(11,11,24,1) 52%);
  }
  input {
    position: absolute;
    display: none;
  }
  .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: calc(var(--slider-scale)/4);
    transition: 0.3s;
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.36);
  }
  input:checked ~ .slider {
    background-color: var(--light);
  }
  .slider::before {
    content: "";
    position: absolute;
    top: calc(var(--slider-scale) * .05);
    left: calc(var(--slider-scale) * .06);
    width: calc(var(--slider-scale)/2.5);
    height: calc(var(--slider-scale)/2.5);
    border-radius: 50%;
    box-shadow: inset calc(var(--slider-scale)/10) -4px 0px 0px var(--main-bg-bk);
    background-color: transparent;
    transition: 0.3s;
  }
  input:checked ~ .slider::before {
    transform: translateX(calc(var(--slider-scale)/2.06));
    background-color: var(--dark);
    box-shadow: none;
  }
}

